<a href="https://colab.research.google.com/github/thamonS/python_dataviz2024/blob/main/Data_Viz_2024_Exam_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**โหลดข้อมูล**

In [3]:
import os
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
path_to_tidy = '/content/drive/MyDrive/Data_viz_2024_data/test-TidyData_2024.xlsx'

In [6]:
tidy_df = pd.read_excel(path_to_tidy)
tidy_df.head()

,month,station,rep.,Chlo_a,Chlo_b,total_Caro,Temp.,pH,EC,Salinity,TDS,DO,Nitrate,Ammonium,Phosphate,No.Algal_cell,@dropdown
0,July_2018,1,1,0.094645,0.011954,0.026780,30.2,5.54,622.7,330.3,545.2,4.37,0.172902,0.052817,0.012748,1.635833e+05,NaN
1,July_2018,2,1,0.038433,0.059019,0.021387,29.1,6.24,580.7,307.0,488.2,6.55,0.154197,0.144843,0.006086,1.166667e+06,NaN
2,July_2018,3,1,0.043884,0.089415,0.023223,29.7,5.52,547.1,289.4,462.2,5.67,0.153097,0.154321,0.014158,2.970000e+06,NaN
3,July_2018,4,1,0.039836,0.064552,0.016537,29.2,5.92,473.6,249.2,397.9,0.69,0.157026,0.387408,0.056951,5.066667e+05,NaN
4,July_2018,5,1,0.044712,0.062424,0.022990,29.5,5.79,685.5,366.0,581.2,4.46,0.204024,0.043387,0.007239,1.265000e+06,NaN

#**ข้อ 1**
ความแตกต่างของ ค่าเฉลี่ย ของข้อมูล Chlo_a ทุกๆ station ระหว่างปี 2018 และ ปี 2019

In [20]:
tidy_y2018 = tidy_df[tidy_df['month'].str.contains('2018')]
tidy_y2019 = tidy_df[tidy_df['month'].str.contains('2019')]

In [37]:
mean_2018 = tidy_y2018.groupby('station')['Chlo_a'].mean()
mean_2019 = tidy_y2019.groupby('station')['Chlo_a'].mean()

In [44]:
diff_mean = mean_2018 - mean_2019
diff_mean

station
1    0.034261
2    0.020201
3    0.030228
4    0.025173
5    0.023331
6    0.028215
Name: Chlo_a, dtype: float64

#**ข้อ 2**
สร้างตารางค่าเฉลี่ย Chlo_b ทุกๆ station ของแต่ละเดือน

In [56]:
mean_chlo_b = tidy_y2018.groupby(['station','month'])['Chlo_b'].mean()

In [55]:
pd.DataFrame(mean_chlo_b)

                     Chlo_b
station month
1       Aug_2018   0.075665
        Dec_2018   0.070061
        July_2018  0.046688
        Nov_2018   0.075937
        Oct_2018   0.131764
        Sep_2018   0.063890
2       Aug_2018   0.065403
        Dec_2018   0.064375
        July_2018  0.062731
        Nov_2018   0.064552
        Oct_2018   0.122767
        Sep_2018   0.074578
3       Aug_2018   0.065179
        Dec_2018   0.080867
        July_2018  0.073561
        Nov_2018   0.097963
        Oct_2018   0.106404
        Sep_2018   0.076292
4       Aug_2018   0.061289
        Dec_2018   0.061951
        July_2018  0.061395
        Nov_2018   0.070605
        Oct_2018   0.090834
        Sep_2018   0.064670
5       Aug_2018   0.060107
        Dec_2018   0.070085
        July_2018  0.064623
        Nov_2018   0.063866
        Oct_2018   0.082381
        Sep_2018   0.060733
6       Aug_2018   0.063027
        Dec_2018   0.065663
        July_2018  0.056193
        Nov_2018   0.073360
        Oct_2018   0.079449
        Sep_2018   0.061750